---
---

header {
    text-align: center;
}

.swan-icon {
    width: 72px;
}

footer {
    text-align: center;
    color: rgb(114, 114, 114);
    font: 400 14px / 1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}